body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

/* Makes the task take up most of the width of column */
.h-100 {
  width: 400%;
}

/* Keeps the dragged clone element on top */
.ui-draggable-dragging {
  z-index: 1000; 
}

/* Using this to style the dragged clone, it was taking up entire length of column before and this was the easiest way to fix it */
.ui-draggable-helper {
  width: 100% !important;
  height: 25% !important; 
  pointer-events: none; 
}
